* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: black;
  background-color: rgb(179, 170, 140);
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

table {
  border: 1px solid black;
}

th,
tr,
td {
  border: 1px solid black;
  border-style: none;
}

#cookie-form {
  margin: auto;
  display: inline-block;
}
